<h1 class="my-4">All Products</h1>
<div class="d-flex justify-content-between">
   <button class="btn btn-primary mb-4" (click)="navOrder()">Go Back Order</button>
   <button class="btn btn-primary mb-4" (click)="navAddItem()">Add Product</button>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>Thumbnail</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of allProducts">
        <td class="text-center">
          @if(product.thumbnail){
            <img class="thumbnail" src={{product.thumbnail}} alt="">
          }@else {
            <img class="thumbnail" src={{defaultImg}} alt="">
          }
        </td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td class="actions d-flex justify-content-around p-3">
          <button class="btn btn-sm btn-warning mr-2" (click)="handleEdit(product._id)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="handleDelete(product._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
